Data used in this model is Data-Collisions. The target variable will be "SEVERITYCODE" and the independent variables are "WEATHER", "ROADCOND" and "LIGHTCOND". Modelling will use K-NN, nearest neighbors and logistic regression for prediction.

The Dataset Contains:

39 input attributes: they contain detailed information about the recorded accidents.
1 output attribute: the car accident severity evaluation, which includes all the types of collisions displayed at the intersection or mid-block of a segment.

In [3]:
import pandas as pd
df = pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv')

C:\Users\ASUS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.drop(['COLDETKEY','INTKEY', 'SEVERITYCODE.1', 'SEVERITYDESC', 'ADDRTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC','SDOTCOLNUM', 'ST_COLCODE'], axis =1, inplace = True)
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,REPORTNO,STATUS,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,...,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,3502005,Matched,5TH AVE NE AND NE 103RD ST,,NaN,...,N,Overcast,Wet,Daylight,NaN,NaN,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,2607959,Matched,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,NaN,NaN,...,0,Raining,Wet,Dark - Street Lights On,NaN,NaN,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,1482393,Matched,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,NaN,NaN,...,0,Overcast,Dry,Daylight,NaN,NaN,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,3503937,Matched,2ND AVE BETWEEN MARION ST AND MADISON ST,,NaN,...,N,Clear,Dry,Daylight,NaN,NaN,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,1807429,Matched,SWIFT AVE S AND SWIFT AV OFF RP,NaN,NaN,...,0,Raining,Wet,Daylight,NaN,NaN,Entering at angle,0,0,N

In [5]:
df.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,2.444427,0.037139,0.028391,1.920780,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,1.345929,0.198150,0.167413,0.631047,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,3.000000,0.000000,0.000000,2.000000,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,81.000000,6.000000,2.000000,12.000000,525241.000000,5.239700e+06